name: Build APK with King Icon
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Force King Icon
        run: |
          # هذا الأمر سيأخذ الصورة التي رفعتها مهما كان اسمها ويجعلها أيقونة
          TARGET_IMAGE=$(find . -maxdepth 1 -name "*.png" | head -1)
          find app/src/main/res -name "ic_launcher.png" -exec cp $TARGET_IMAGE {} \;
      - name: set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Build with Gradle
        run: |
          chmod +x gradlew
          ./gradlew assembleDebug
      - name: Upload APK
        uses: actions/upload-artifact@v2
        with:
          name: KingTap-Success
          path: app/build/outputs/apk/debug/app-debug.apk
